.div {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    
}

/* percent : parent element 대비 너비, 높이 / vw, vh : viewport 대비 너비, 높이 */
.div__img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    margin-right: 0.5rem;
}

.div__name {
  display: none
}

@media screen and (min-width: 768px) {
  .div__name {
    display: block;
  }
}

