.wrapping {
    display:flex;
    flex-direction:column;
    font-family: "julius_sans_one_ENG", Georgia, monospace;
}

.frame {
    color: black;
    display: flex;
    flex-direction: column;
    border-radius:10px;
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 40px;
    padding: 10px;
    height: 300px;
    width: 220px;
    
}

.frame__timer {
    flex:1;
    margin-top:30px;
}

.frame__option {
    flex:1;
    font-size:30px;
    display:flex;
}

.modal {
    display: none;
    position: absolute;
    border-radius:10px;
    border: 2px solid black;
    background-color:white;

    width: 400px;
    height: 500px;

    left: 35%;
    top: 25%;
}

.modal__close {
    position:absolute;
    margin-right:30px;
    top: 8px;
    right: 4px;
    font-size:24px;
}

.modal__close button {
    right:28px;
    left:28px;
}
