@import url('../../assets/font/eng_julius_sans_one.css');
@import url('../../assets/font/eng_roboto.css');
@import url('../../assets/font/eng_rubik_bubbles.css');
@import url('../../assets/font/eng_press_start_2p.css');

p {
    font-family: "julius_sans_one_ENG", Georgia, monospace;
    font-size: 50px;
}

.main {
    display: flex;
}

.frames {
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 80px;
}

.frames > .addButton {
    margin-bottom: 2px;
    align-self: flex-end;
    opacity: 0.8;
}

.frames > .addButton:hover {
    opacity: 1;
}

.dummyDiv {
    width: 1px;
}