@import url('../../assets/font/eng_julius_sans_one.css');

button:hover {
  font-weight: bold;
}

.frame {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.timer {
  display: flex;
  justify-content: center;
}

.timer__hourArea, .timer__minuteArea, .timer__secondArea {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.timer input {
  width: 65px;
  height: 50px;
  font-size:40px;
  border: 0 solid #ccc;
  border-radius: 5px;
  outline:none;
  text-align: center;
}

.timer__feature {
  margin-top: 24px;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.timer__option {
  display: flex;
  justify-content: space-around;
}

.timer__option > div {
  display: flex;
  flex-direction: row;
}

.timer__option p {
  font-size:20px;
  margin-top:5px;
}

.timer__input {
  margin-top: 8px;
}

.timer__input > input {
  border-bottom: 1.5px solid;
  width: 240px;
}

.timer__input > input:focus {
  outline: none;
}

.timer__input > input::placeholder {
  font-size: 14px;
  text-align: center;
  color: rgb(0, 129, 255);
  opacity:0.5;
}

.timer__input--alarmMode {
  margin-top: 8px;
}

.timer__input--alarmMode > input {
  border-bottom: 1.5px solid;
  width: 240px;
}

.timer__input--alarmMode > input:focus {
  outline: none;
}

.timer__input--alarmMode > input::placeholder {
  font-size: 14px;
  text-align: center;
  color: rgb(0, 184, 147);
  opacity:0.5;
}

.timer__button {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  color: white;
}

.timer__button--start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rgb(0, 129, 255);
  border-radius: 50%;
  margin-right:10%;
}

.timer__button--start:hover {
  cursor: pointer;
}

@keyframes loading_button {
  /* 0% {
    opacity: 1;
  }
  33% {
    opacity: 0.5;
  }
  66% {
    opacity: 0.2;
  } */
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.timer__button--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rgb(0, 129, 255);
  border-radius: 50%;
  margin-right:4%;
}

.timer__button--loading div {
  width:8px;
  height:8px;
  margin: 6%;
  border-radius: 50%;
  background-color: white;
}

.timer__button--loading .loading-button1 {
  animation: loading_button 2s infinite;
}
.timer__button--loading .loading-button2 {
  animation: loading_button 2s infinite;
  animation-delay: 0.7s;
}
.timer__button--loading .loading-button3 {
  animation: loading_button 2s infinite;
  animation-delay: 1.4s;
}


.timer__button--reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rgb(0, 129, 255);
  border-radius: 50%;
}

.timer__button--reset:hover {
  cursor: pointer;
}

.timer__repeatBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 6%;
  position: relative;
  left: 8%;
}

.timer__repeatBtn--text {
  font-size: 14px;
  align-self: center;
}

.timer__repeatBtn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(214, 230, 255);
  margin-left: 4%;
}

.timer__repeatBtn--icon:hover {
  cursor: pointer;
}

.timer__repeatBtn--time {

}

/* Alarm Mode ==================================================================================*/
.alarm {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.alarm input {
  width: 65px;
  height: 38px;
  font-size:38px;
  border: 0 solid #ccc;
  border-radius: 5px;
  outline:none;
  text-align: center;
}

.alarm input::placeholder {
  color: rgb(0, 184, 147);
}

.alarm__wrapping_time {
  display: flex;
  align-items: center;
  
}

.alarm__day, .alarm__hour, .alarm__minute {
  display: flex;
  align-items: center;
  margin: 0 3px;
}

.alarm__day {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.alarm__day:hover {
  cursor: pointer;
}

.alarm__day--btnUp {
  width: 0px;
  height: 0px;
  border-bottom: 8px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.alarm__day--btnUp:hover {
  cursor: pointer;
}

.alarm__day--btnDown {
  width: 0px;
  height: 0px;
  border-top: 8px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.alarm__day--btnDown:hover {
  cursor: pointer;
}

.alarm__hour {
  display: flex;
  flex-direction: column;
}

.alarm__hour_colon {
  font-size: 20px;
  margin-right:10px;
}

.alarm__minute {
  display: flex;
  flex-direction: column;
}

/* Check Box CSS ===============================================================================*/
.checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;
    display:flex;
}

@-moz-keyframes dothabottomcheck-19 {
0% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) / 2);
}
}

@-webkit-keyframes dothabottomcheck-19 {
0% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) / 2);
}
}

@keyframes dothabottomcheck-19 {
0% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) / 2);
}
}

@keyframes dothatopcheck-19 {
0% {
    height: 0;
}
50% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) * 1.2);
}
}

@-webkit-keyframes dothatopcheck-19 {
0% {
    height: 0;
}
50% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) * 1.2);
}
}

@-moz-keyframes dothatopcheck-19 {
0% {
    height: 0;
}
50% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) * 1.2);
}
}

.checkbox-wrapper-19 input[type=checkbox] {
    display: none;
}

.checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid rgb(0,129,255);
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}
.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: rgb(0,129,255);
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}
.checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
    border-color: rgb(0,129,255);;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
}

/* CheckBox Alarm 모드 ============================================================================== */
.checkbox-wrapper-19 .check-box-alarmMode {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid rgb(0,129,255);
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}
.checkbox-wrapper-19 .check-box-alarmMode::before,
.checkbox-wrapper-19 .check-box-alarmMode::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: rgb(0, 184, 147);
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}
.checkbox-wrapper-19 .check-box-alarmMode::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.checkbox-wrapper-19 .check-box-alarmMode::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box-alarmMode,
.checkbox-wrapper-19 .check-box-alarmMode.checked {
    border-color: rgb(0,129,255);;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box-alarmMode::after,
.checkbox-wrapper-19 .check-box-alarmMode.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box-alarmMode::before,
.checkbox-wrapper-19 .check-box-alarmMode.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
}

/* Alarm버튼 클릭하면 pseudo element가 바뀌도록 */
.checkbox-wrapper-19 .check-box-alarmMode::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: rgb(0, 184, 147);
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}
/* ===============================================================================*/

.checkbox-wrapper-19 label {
  position: relative;
  top: 10px;
  left: 10px;
}