@import url('../../assets/font/eng_julius_sans_one.css');
.frame {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    /* justify-content:space-between; */
}

.timer {
  display: flex;
}

.timer__hourArea, .timer__minuteArea, .timer__secondArea {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.timer input {
  width: 55px;
  height: 50px;
  font-size:30px;
  border: 0 solid #ccc;
  border-radius: 5px;
  outline:none;
  text-align: center;
  font-family: "julius_sans_one_ENG", Georgia, monospace;
}

.button__timer-btn {
  justify-content: space-around;
  align-items: start;
  flex-direction: row;
  display: flex;
  margin-right:10%;
}


.button__timer-btn > * {
  margin-left:10px;
}


.button__timer-add {
  display:flex;
  justify-content: space-around;
}


button {
  font-family: "julius_sans_one_ENG", Georgia, monospace; 
}

button:hover {
  font-weight: bold;
}
  


/* unifiedTemplate CSS */

.uni_frame {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: rgb(0,129,255);
    font-family: 'Roboto', sans-serif;
}

.uni_timer {
  display: flex;
  justify-content: center;
}

.uni_timer__hourArea, .uni_timer__minuteArea, .uni_timer__secondArea {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.uni_timer input {
  width: 65px;
  height: 50px;
  font-size:40px;
  border: 0 solid #ccc;
  border-radius: 5px;
  outline:none;
  text-align: center;
}

/* 많이 바뀐 부분 ---------------------------------------*/
.uni_timer__feature {
  margin-top: 24px;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: rgb(0,129,255);
}

.uni_timer__option {
  display: flex;
  justify-content: space-around;
}

.uni_timer__option > div {
  display: flex;
  flex-direction: row;
}

.uni_timer__option p {
  font-size:20px;
  margin-top:5px;
}

.uni_timer__input {
  margin-top: 8px;
}

.uni_timer__input > input {
  border-bottom: 1.5px solid;
  width: 240px; 
}

.uni_timer__input > input:focus {
  outline: none;
}

.uni_timer__button {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

}



/* Check Box CSS ===============================================================================*/
.checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;
    display:flex;
}

@-moz-keyframes dothabottomcheck-19 {
0% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) / 2);
}
}

@-webkit-keyframes dothabottomcheck-19 {
0% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) / 2);
}
}

@keyframes dothabottomcheck-19 {
0% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) / 2);
}
}

@keyframes dothatopcheck-19 {
0% {
    height: 0;
}
50% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) * 1.2);
}
}

@-webkit-keyframes dothatopcheck-19 {
0% {
    height: 0;
}
50% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) * 1.2);
}
}

@-moz-keyframes dothatopcheck-19 {
0% {
    height: 0;
}
50% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) * 1.2);
}
}

.checkbox-wrapper-19 input[type=checkbox] {
    display: none;
}

.checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid rgb(0,129,255);
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}
.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: rgb(0,129,255);
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}
.checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
    border-color: rgb(0,129,255);;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
}

/* ===============================================================================*/

.checkbox-wrapper-19 label {
  position: relative;
  top: 10px;
  left: 10px;
}