@value makerGreen, makerBlack, makerWhite from '../../common/colors.css';

@import url('../../assets/font/eng_julius_sans_one.css');
@import url('../../assets/font/eng_roboto.css');
@import url('../../assets/font/eng_rubik_bubbles.css');
@import url('../../assets/font/eng_press_start_2p.css');


.header {
  display:flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: white;
  position: relative;
  /* font-family: "julius_sans_one_ENG", Georgia, monospace; */
  font-family: 'Rubik Bubbles', cursive;
  /* font-family: 'Press Start 2P', cursive; */
  line-height: 5em;
  color: rgb(0, 129, 255);
}

.header__home {
  height:100%;
  color: black;
  text-decoration-line: none;
  font-size: 55px;
  /* font-weight: bold; */
  margin-left: 2rem;
  color: rgb(0, 129, 255);
  opacity: 0.7;
}

.header__nav {
  flex: 9 9 30px;;
}

.header__user-ui {
  display:flex;
}

.header__user {
  flex: 1;
  align-self: center; /*align-self: flex-item 각각의 개별적 설정*/
  margin-left:1rem;
}

.header__button {
  flex: 2;
  align-self: center;
  margin-right: 1rem;
}



/* 
.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  background-color: makerBlack;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer;
} */
